
{% comment %}

	Why these fonts?

	From: "Brad Walker" <brad.walker@smarterbalanced.org>
	Date: Wed, May 18, 2016 at 3:47 PM -0700
	Subject: Re: Smarter Balanced Test Score Guide Mockups - Next Steps

	> The website fonts are free Google fonts: PT Sans for headers and PT Serif for body. 
	> [Rector, Leslie] It appears that Tony has approved Brad's mockup (and by extension, 
	>                  typography selection) for the Student Score Report Guide site..

	
	24 May 2016
	
	Using the Google Font Loader
		https://github.com/typekit/webfontloader

		https://www.google.com/fonts/specimen/PT+Serif
		https://www.google.com/fonts/specimen/PT+Sans
	
	
{% endcomment %}

<script>
	WebFontConfig = {
		google: { families: [ 'PT+Sans::latin', 'PT+Serif::latin' ] }
	};
</script>	
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
