<div class="wrap-outer" id="wrap-footer">
	<footer id="footer" role="contentinfo" aria-label="footer" class="container max width">
		
		<hr />
		
		<div>
			<ul>
				<li><a href="http://smarterbalanced.org/">Smarter Balanced Assessment Consortium Website</a></li>
			</ul>
			<p class="cya"><a href="{{ "/copyright/" | prepend: site.baseurl }}"><span aria-hidden="true">&copy;</span> The Regents of the University of California&mdash;Smarter Balanced Assessment Consortium</a></p>

		</div>
		
	
	</footer>
</div><!-- /.wrap-outer > #footer -->